.button {
    display: block;
    text-transform: uppercase;
    padding: 20px 30px;
    background-color: var(--color-white);
    border-radius: 30px;
    margin: 40px 0;
    border: none;
    position: relative;

    &:hover {
        text-decoration: underline;
        background-color: var(--color-hover);
    }
}
