.projects {
    overflow: hidden;
}
.cards {
    display: grid;
    gap: 70px;
    margin-top: 70px;
}
.card {
    display: flex;
    column-gap: 100px;
    align-items: center;

    border-width: 3px 0 0 0;
    border-style: solid;
    border-color: var(--color-black);

    padding-top: 50px;
    @media screen and (max-width: $breakpoint-md) {
        flex-wrap: wrap;
    }
    @media screen and (max-width: $breakpoint-sm) {
        gap: 20px;
    }

    .contexts {
        display: flex;

        border-width: 3px 0;
        border-style: solid;
        border-color: var(--color-black);
        padding: 10px 0;

        p {
            font-size: var(--font-size-h4);
            font-family: var(--font-secondary);
            line-height: 1.1;
        }
        .vertical__line {
            width: 4px;

            background-color: var(--color-black);
            margin: 0 20px;
        }
    }
    .card__content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        p {
            margin: 0;
        }
        .button {
            width: 270px;
            /* max-width: 270px; */
            margin: 0;
            @media screen and (max-width: $breakpoint-sm) {
            }
        }
    }
    .card__media {
        max-height: 450px;
        max-width: 850px;
        img {
            display: block;
            height: 100%;

            width: 100%;

            object-fit: cover;
        }
    }
}
.card.right {
    flex-direction: row-reverse;
}
