.cards {
    display: grid;
    gap: 70px;
    margin-top: 70px;
}
.card {
    display: flex;
    column-gap: 100px;
    align-items: center;

    border-width: 3px 0;
    border-style: solid;
    border-color: var(--color-black);

    padding: 50px 0;

    .contexts {
        display: flex;

        border-width: 3px 0;
        border-style: solid;
        border-color: var(--color-black);
        padding: 10px 0;
        .vertical__line {
            width: 2px;

            background-color: var(--color-black);
            margin: 0 20px;
        }
    }
    .card__content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        p {
            margin: 0;
        }
        .button {
            width: 100%;
            max-width: 270px;
            margin: 0;
        }
    }
    .card__media img {
        display: block;

        height: 100%;
        max-width: 500px;
        max-height: 480px;
        object-fit: fill;
    }
}
.card.right {
    flex-direction: row-reverse;
}
