.orange__text {
    color: var(--color-orange);
}
.green__text {
    color: var(--color-green);
}
.blue__text {
    color: var(--color-bg-primary);
}
.yellow__text {
    color: var(--color-secondary);
}
