.footer {
    background-color: var(--color-bg-primary);
    color: var(--color-primary);
    .wrapper {
        margin: 0 auto;
    }

    h3,
    .copyright {
        text-align: center;
        margin: 0;
    }
    h3 {
        font-weight: 400;
    }
    .wrapper {
        padding: 70px 0;
    }
    .social__medias {
        justify-content: center;
        gap: 30px;
    }
}
.social__medias {
    display: flex;

    gap: 20px;
    margin: 30px 0;
}
