.gallery__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    .gallery__media {
        position: relative;

        .inner {
            position: relative;
            z-index: 8;
            margin: 5px;
            background: #222;
            color: #fff;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            &:hover {
                cursor: pointer;
            }
        }
        overflow: hidden;
    }

    .gallery__media::before {
        content: '';
        display: block;
        background: linear-gradient(
            90deg,
            var(--color-bg-primary) 0%,
            var(--color-green) 100%
        );
        height: 1300px;
        width: 1300px;
        position: absolute;
        top: -50%;
        left: -50%;
        animation: rotate 8s linear infinite;
        transition: 0.3s all ease-out;

        animation-play-state: paused;
        z-index: 0;
        opacity: 0;
    }
    .gallery__media:hover::before {
        animation-play-state: running;
        opacity: 1;
        transition: opacity 0.3s ease-in;
    }
    @keyframes rotate {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }
    .gallery__content p {
        margin-top: 10px;
        margin-bottom: 0;
    }
}

/* .box {
    width: 60vmin;
    height: 50vmin;
    display: grid;
    place-content: center;
    color: white;
    text-shadow: 0 1px 0 #000;

    --border-angle: 0turn; // For animation.
    --main-bg: conic-gradient(
        from var(--border-angle),
        #213,
        #112 5%,
        #112 60%,
        #213 95%
    );

    border: solid 5px transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(
        from var(--border-angle),
        transparent 25%,
        #08f,
        #f03 99%,
        transparent
    );

    background: 
      // padding-box clip this background in to the overall element except the border.
        var(--main-bg) padding-box,
        // border-box extends this background to the border space
        var(--gradient-border) border-box,
        // Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
        var(--main-bg) border-box;

    background-position: center center;

    animation: bg-spin 3s linear infinite;
    @keyframes bg-spin {
        to {
            --border-angle: 1turn;
        }
    }

    &:hover {
        animation-play-state: paused;
    }
} */
