.interests {
    overflow: hidden;

    .swiper-pagination-bullets {
        margin-bottom: 70px;
    }
    .swiper-slide {
        border: 3px solid var(--color-black);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            font: 400 var(--font-size-h4) var(--font-secondary);
        }
        height: 330px;
        img {
            display: block;
            object-fit: cover;
        }
    }
}
