.design__website,
.integration__website,
.creation {
    overflow: hidden;
}
.step__description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 0;
    @media screen and (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
    }
}
.screenshots__examples {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.softwares {
    padding: 20px;
    display: flex;
    gap: 20px;
}
.more__infos {
    display: flex;
    @media screen and (max-width: $breakpoint-sm) {
        flex-direction: column;
    }
    .softwares {
        @media screen and (max-width: $breakpoint-sm) {
            padding: 20px 0;
        }
    }
    .software {
        flex-direction: row;
        justify-content: center;

        img {
            max-width: 75px;
            max-height: 75px;
            @media screen and (max-width: $breakpoint-sm) {
                max-width: 40px;
                max-height: 40px;
            }
        }
    }
}
.gallery__wireframe {
    img {
        width: 100%;
        height: 430px;
        object-fit: cover;
    }
}
.gallery__final__design {
    img {
        width: 100%;

        height: 600px;
        object-fit: cover;
        @media screen and (max-width: $breakpoint-sm) {
            height: 300px;
        }
    }
}
.project__credits .credit {
    display: flex;

    p {
        margin: 20px 0;
        &:nth-child(odd) {
            font-weight: 700;
        }
    }
}
