@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}
.marquee {
    display: inline-block;
    animation-name: scrolling__qualities;
    height: 90px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 15s linear infinite;
    @media screen and (max-width: $breakpoint-sm) {
        height: 50px;
    }
}

.marquee h2 {
    overflow: hidden;
    display: inline-block;

    font-weight: 700;
}

.scrolling__qualities {
    padding-top: 50px;

    overflow: hidden;
    max-width: 100%;
}
