.skills .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .crown {
        position: absolute;
        width: 50%;
    }
    .credits {
        margin: 0;
        max-width: 50%;
        color: var(--color-gray);
        font-size: 14px;
    }
    .drag-gif {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: end;
        bottom: -8%;
        right: 10%;
        width: 450px;
        height: 400px;

        .text__gif {
            height: 50px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 15px;
            border-radius: 25%;
            background-color: var(--color-white);
            top: 10%;
            right: 5%;
        }
        .text__gif__bottom__left:before {
            content: '';
            width: 0px;
            height: 0px;
            position: absolute;
            border-left: 24px solid #fff;
            border-right: 12px solid transparent;
            border-top: 12px solid #fff;
            border-bottom: 20px solid transparent;
            left: 5px;
            bottom: -24px;
        }
    }
}
.skill {
    display: flex;
    align-items: center;
    gap: 20px;
    .icon {
        color: var(--color-hover);
    }
    .thinker {
        width: 5%;
    }
    .ball {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background: var(--color-gradient);
    }
}
