.grid__softwares {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}
.software {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 30px;
}
/* .reorder {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */
