/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #e7e7e7;
    --color-secondary: #f3dc53;
    --color-bg-primary: #6798e6;
    --color-dark-blue: #15243b;
    --color-hover: #f3dc53;
    --color-orange: #dc8542;
    --color-green: #80cb64;
    --color-pink: #d490c5;
    --color-gray: #acacac;
    --color-error: #ed1c24;
    --color-gradient: linear-gradient(#dc8542, #f3dc53);
}
