/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #e7e7e7;
    --color-secondary: #f3dc53;
    --color-bg-primary: #6798e6;
    --color-hover: #f3dc53;
    --color-orange: #dc8542;
    --color-green: #80cb64;
}
