{% include '_partials/_header.html' %}
<section class="biography">
    <div class="wrapper">
        <div class="biography__media">
            <img src="assets/images/picture_frame.png" alt="picture of Jacky" />
        </div>
        <div class="boigraphy__content">
            <h1><span class="green__text">Jacky</span></h1>
            <h1><span class="blue__text">Souhiphonh</span></h1>
            <h4>Développeur web junior</h4>
            <p>
                Salut ! Je suis dans ma dernière année du programme d’intégration multimédia au cégep Édouard-Montpetit.
                Mon rêve est de devenir développeur full-stack. J’espère trouver un stage dans une agence web.
            </p>
        </div>
    </div>
</section>
{% include '_partials/_footer.html' %}
