{% include '_partials/_header.html' %}
<section class="biography">
    <div class="wrapper">
        <div class="biography__media">
            <img src="assets/images/picture_frame.png" alt="picture of Jacky" />
        </div>
        <div class="boigraphy__content">
            <h1><span class="green__text">Jacky</span></h1>
            <h1><span class="blue__text">Souhiphonh</span></h1>
            <h4>Développeur web junior</h4>
            <p data-scrolly="fromRight">
                Salut ! Je suis dans ma dernière année du programme d’intégration multimédia au cégep Édouard-Montpetit.
                Mon rêve est de devenir développeur full-stack. J’espère trouver un stage dans une agence web.
            </p>
        </div>
    </div>
</section>
<section class="skills">
    <div class="wrapper">
        <h1>Mes <span class="orange__text">Compétences</span></h1>
        <div class="skill" data-scrolly="fromLeft">
            <h3>Développement web</h3>
            <img src="assets/images/computer_doodle.png" alt="computer doodle" />
        </div>
        <div class="skill" data-scrolly="fromRight">
            <h3>
                Programmation web (<span class="orange__text">JavaScript</span>/<span class="green__text">PHP</span>/
                <span class="blue__text">WordPress</span>)
            </h3>
        </div>
        <div class="skill" data-scrolly="fromLeft">
            <h3>Intégration web (<span class="orange__text">HTML</span>/<span class="green__text">CSS</span>)</h3>
        </div>
        <div class="skill" data-scrolly="fromRight">
            <h3>Résolution des&nbsp;problèmes</h3>
            <img class="thinker" src="assets/images/thinker.png" alt="someone thinking" />
        </div>
        <div class="skill" data-scrolly="fromLeft">
            <h3>Animation 2D-3D</h3>
            <div class="ball"></div>
        </div>
        <div class="skill" data-scrolly="fromRight">
            <h3>Montage sonore</h3>
            <svg class="icon icon--lg">
                <use xlink:href="#icon-waves"></use>
            </svg>
        </div>
        <div class="skill" data-scrolly="fromLeft">
            <h3>Montage vidéo</h3>
            <img src="assets/images/after_effects.png" alt="logo after effects" />
        </div>
        <div class="credits">
            <p>
                Les animations sont des fan arts. Les personnages animés appartiennent à SHIFT UP. La première animation
                est inspirée de 'beep-beep🎶 ' par BlueSechi. Tous droits appartiennent à eux respectivement.*
            </p>
        </div>
        <div class="animations">
            <div class="drag-gif" data-component="Gsap">
                <div class="text__gif text__gif__bottom__left">
                    <p>Drag me!</p>
                </div>
                <img src="assets/images/crown_dance2.gif" alt="Crown dancing" class="crown" />
            </div>

            <div class="animation"></div>
        </div>
    </div>
</section>
<div class="separator">
    <div class="wrapper"></div>
</div>
<section class="softwares">
    <div class="wrapper">
        <h1>Mes <span class="green__text">logiciels</span></h1>
        <div class="grid__softwares">
            <div class="software" data-scrolly="fromBottom">
                <img src="assets/images/logo_vscode.png" alt="logo VSCode" />
                <h3>VSCode</h3>
            </div>
            <div class="software" data-scrolly="fromBottom">
                <img src="assets/images/logo_figma.png" alt="logo Figma" />
                <h3>Figma</h3>
            </div>
            <div class="software" data-scrolly="fromBottom">
                <img src="assets/images/logo_blender.png" alt="logo Blender" />
                <h3>Blender</h3>
            </div>
            <div class="software" data-scrolly="fromBottom">
                <img src="assets/images/logo_reaper.png" alt="logo Reaper" />
                <h3>Reaper</h3>
            </div>
        </div>
    </div>
</section>
<div class="separator">
    <div class="wrapper"></div>
</div>
<section class="qualities">
    <div class="wrapper">
        <h1>Mes <span class="blue__text">qualités</span></h1>
    </div>
    <div class="scrolling__qualities">
        <div class="marquee">
            <h2>
                <span class="orange__text">Autonome</span> &nbsp;<span class="green__text">Organisé</span> &nbsp;
                <span class="blue__text">Ouverture à la critique</span> &nbsp;<span class="orange__text">Créatif</span>
                &nbsp;<span class="green__text">Curieux</span> &nbsp;
            </h2>
            <h2>
                <span class="orange__text">Autonome</span> &nbsp;<span class="green__text">Organisé</span> &nbsp;
                <span class="blue__text">Ouverture à la critique</span> &nbsp;<span class="orange__text">Créatif</span>
                &nbsp; <span class="green__text">Curieux</span> &nbsp;
            </h2>
        </div>
    </div>
</section>
<div class="separator">
    <div class="wrapper"></div>
</div>
<section class="interests">
    <div class="wrapper">
        <h1>Mes <span class="green__text">intérêts</span> et <span class="blue__text">passions</span></h1>
    </div>
    <div class="swiper" data-component="Carousel" data-loop="true" data-split data-scrolly="fromBottom">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="assets/images/listen_music.png" alt="Me listening to music" />
                <h4>Écouter de la <span class="orange__text">musique</span></h4>
            </div>
            <div class="swiper-slide">
                <img src="assets/images/controller.png" alt="Controller" />
                <h4>Jouer aux <span class="green__text">jeux vidéo</span></h4>
            </div>

            <div class="swiper-slide">
                <img src="assets/images/sketch.png" alt="Sketch" />
                <h4><span class="blue__text">Dessiner</span></h4>
            </div>
            <div class="swiper-slide">
                <img src="assets/images/boxing_gloves.png" alt="Boxing gloves" />
                <h4><span class="orange__text">Art martial (boxe)</span></h4>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
{% include '_partials/_footer.html' %}
