{% include '_partials/_header.html' %}
<section class="contact">
    <div class="wrapper">
        <div class="contact__infos">
            <h1><span class="orange__text">Contactez</span>-<span class="green__text">moi</span></h1>
            <div class="socials">
                <div class="social">
                    <svg class="icon icon--md">
                        <use xlink:href="#icon-mail"></use>
                    </svg>
                    <a href="mailto:southiphonhjacky@gmail.com" class="email">southiphonhjacky@gmail.com</a>
                </div>
                <div class="social">
                    <svg class="icon icon--md">
                        <use xlink:href="#icon-telephone"></use>
                    </svg>

                    <p><a href="tel:4503412044">(450) 341-2044</a></p>
                </div>
                <div class="social">
                    <svg class="icon icon--md">
                        <use xlink:href="#icon-cv"></use>
                    </svg>
                    <a href="assets/images/CV.pdf" download="">Curriculum Vitae</a>
                </div>
            </div>
            <div class="social__medias">
                <div class="social__media">
                    <a
                        href="https://www.linkedin.com/in/jacky-southiphonh-4b5405271/"
                        target="_blank"
                        aria-label="LinkedIn"
                    >
                        <svg class="icon icon--md">
                            <use xlink:href="#icon-linkedin"></use>
                        </svg>
                    </a>
                </div>
                <div class="social__media">
                    <a href="https://www.youtube.com/@kirbtonite" target="_blank" aria-label="Youtube">
                        <svg class="icon icon--md">
                            <use xlink:href="#icon-youtube"></use>
                        </svg>
                    </a>
                </div>
                <div class="social__media">
                    <a href="https://github.com/Kirbtonite" target="_blank" aria-label="GitHub">
                        <svg class="icon icon--md">
                            <use xlink:href="#icon-github"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="contact__form">
            <form
                action="https://formsubmit.co/77730f8b60d7a4a90cf780fea1a0f92b"
                class="form"
                data-scrolly="close"
                method="POST"
                data-component="Form"
            >
                <div class="form__body">
                    <fieldset class="grid">
                        <div class="input">
                            <label class="input__label" for="full name">Votre nom</label>
                            <input
                                class="input__element"
                                type="text"
                                name="full name"
                                id="full name"
                                placeholder="Nom complet"
                                required
                            />
                            <p class="error__text">Votre nom complet est nécessaire!</p>
                        </div>

                        <div class="input">
                            <label class="input__label" for="email">Votre adresse courriel</label>
                            <input
                                class="input__element"
                                type="email"
                                name="email"
                                id="email"
                                placeholder="Ex : patrice.tremblay@gmail.com"
                                pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                                required
                            />
                            <p class="error__text">L’adresse courriel n’est pas valide!</p>
                        </div>

                        <div class="u-grid-fullwidth">
                            <div class="input textarea u-grid-fullwidth">
                                <label class="input__label" for="message">Votre message</label>
                                <textarea
                                    class="input__element"
                                    name="message"
                                    id="message"
                                    maxlength="500"
                                    required
                                ></textarea>
                                <p class="error__text">Un message est nécessaire!</p>
                            </div>
                        </div>
                    </fieldset>
                    <footer class="form__footer">
                        <button class="button button--anim" type="submit">Soumettre</button>
                    </footer>
                </div>

                <div class="form__confirmation">
                    <h2>Merci</h2>
                    <p>Votre formulaire a bien été soumis</p>
                </div>
            </form>
        </div>
    </div>
</section>
{% include '_partials/_footer.html' %}
