{% include '_partials/_header.html' %}
<section class="contact">
    <div class="wrapper">
        <div class="contact__infos">
            <h1><span class="orange__text">Contactez</span>-<span class="green__text">moi</span></h1>
            <div class="socials">
                <div class="social">
                    <svg class="icon">
                        <use xlink:href="#icon-mail"></use>
                    </svg>
                    <a href="mailto:southiphonhjacky@gmail.com" class="email">southiphonhjacky@gmail.com</a>
                </div>
                <div class="social">
                    <svg class="icon">
                        <use xlink:href="#icon-telephone"></use>
                    </svg>
                    <p>(450) 341-2044</p>
                </div>
                <div class="social">
                    <svg class="icon">
                        <use xlink:href="#icon-cv"></use>
                    </svg>
                    <a href="assets/images/red_hood_sketch.png" download="">Curriculum Vitae</a>
                </div>
            </div>
            <div class="social__medias">
                <div class="social__media">
                    <a href="https://www.linkedin.com/in/jacky-southiphonh-4b5405271/">
                        <svg class="icon icon--md">
                            <use xlink:href="#icon-linkedin"></use>
                        </svg>
                    </a>
                </div>
                <div class="social__media">
                    <a href="https://www.youtube.com/@kirbtonite">
                        <svg class="icon icon--md">
                            <use xlink:href="#icon-youtube"></use>
                        </svg>
                    </a>
                </div>
                <div class="social__media">
                    <a href="https://github.com/Kirbtonite">
                        <svg class="icon icon--md">
                            <use xlink:href="#icon-github"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% include '_partials/_footer.html' %}
