{% include '_partials/_header.html' %}
<section class="hero">
    <div class="wrapper">
        <div class="hero__infos">
            <h1 data-scrolly="fromLeft"><span class="green__text">Jacky </span></h1>
            <h1 data-scrolly="fromLeft"><span class="blue__text">Southiphonh</span></h1>
            <p class="tagline" data-component="Gsap">Développeur web junior</p>
            <a href="projects.html" class="button button--anim">Voir tous mes projets</a>
        </div>

        <div class="video" data-component="Youtube" data-video-id="K80r-Ykgjts" data-mute>
            <div class="video__media js-youtube">
                <img class="js-poster" src="assets/images/demo_reel.webp" alt="Thumbnail vidéo" />
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-play"></use>
                </svg>
            </div>
        </div>
    </div>
</section>
<section class="projets__vedettes">
    <div class="wrapper">
        <h1>Mes<span class="orange__text"> projets en vedettes</span></h1>
        <div class="cards">
            <div class="card left" data-scrolly="fromLeft">
                <div class="card__content">
                    <h2 data-scrolly="fromLeft">
                        Site <span class="orange__text">Baie&nbsp;</span><span class="green__text">Sainte</span>-<span
                            class="blue__text"
                            >Catherine</span
                        >
                    </h2>
                    <div class="contexts" data-scrolly="fromLeft">
                        <p>Design et intégration web</p>
                        <div class="vertical__line"></div>
                        <p>Projet étudiant</p>
                    </div>
                    <p data-scrolly="fromLeft">
                        Refonte du design et l’intégration web du site de la municipalité Baie Sainte-Catherine
                    </p>
                    <a href="projectBSC.html" class="button button--anim">
                        Voir le projet
                        <svg class="icon">
                            <use xlink:href="#icon-arrow_right"></use>
                        </svg>
                    </a>
                </div>
                <div class="card__media">
                    <img src="assets/images/mockup_baie_sainte_catherine.webp" alt="mockup_baie_sainte_catherine" />
                </div>
            </div>
            <div class="card right" data-scrolly="fromRight">
                <div class="card__content">
                    <h2 data-scrolly="fromRight">Site <span class="orange__text">Timconf</span></h2>
                    <div class="contexts" data-scrolly="fromRight">
                        <p>Design et intégration web</p>
                        <div class="vertical__line"></div>
                        <p>Projet étudiant</p>
                    </div>
                    <p data-scrolly="fromRight">
                        Design et développement d’un site web HTML/CSS/Responsive pour un client fictif
                    </p>
                    <a href="projectTimConf.html" class="button button--anim">
                        Voir le projet
                        <svg class="icon">
                            <use xlink:href="#icon-arrow_right"></use>
                        </svg>
                    </a>
                </div>
                <div class="card__media">
                    <img src="assets/images/mockup_timconf.webp" alt="mockup_timconf" />
                </div>
            </div>
            <div class="card left" data-scrolly="fromLeft">
                <div class="card__content">
                    <h2 data-scrolly="fromLeft">Mon site de <span class="orange__text">portfolio</span></h2>
                    <div class="contexts" data-scrolly="fromLeft">
                        <p>Design et intégration web</p>
                        <div class="vertical__line"></div>
                        <p>Projet étudiant</p>
                    </div>
                    <p data-scrolly="fromLeft">
                        Design et développement de mon site portfolio en HTML/CSS/JS responsive pour les recruteurs de
                        stage et les futurs employeurs.
                    </p>
                    <a href="projectPortfolio.html" class="button button--anim">
                        Voir le projet
                        <svg class="icon">
                            <use xlink:href="#icon-arrow_right"></use>
                        </svg>
                    </a>
                </div>
                <div class="card__media">
                    <img src="assets/images/mockup_site_portfolio.webp" alt="mockup site portfolio" />
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
