{% include '_partials/_header.html' %}
<section class="hero">
    <div class="wrapper">
        <div class="hero__infos">
            <h1><span class="green__text">Jacky </span></h1>
            <h1><span class="blue__text">Southiphonh</span></h1>
            <h3>Développeur web junior</h3>
            <a href="projects.html" class="button button--anim">Voir tous mes projets</a>
        </div>

        <div class="video" data-component="Youtube" data-video-id="K80r-Ykgjts">
            <div class="video__media js-youtube">
                <img class="js-poster" src="assets/images/demo_reel.png" alt="Thumbnail vidéo" />
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-play"></use>
                </svg>
            </div>
        </div>
    </div>
</section>
<section class="projets__vedettes">
    <div class="wrapper">
        <h1>Mes<span class="orange__text"> projets en vedettes</span></h1>
        <div class="cards">
            <div class="card left">
                <div class="card__content">
                    <h2>
                        Site <span class="orange__text">Baie</span><span class="green__text">Sainte</span>-<span
                            class="blue__text"
                            >Catherine</span
                        >
                    </h2>
                    <div class="contexts">
                        <h4>Design et intégration web</h4>
                        <div class="vertical__line"></div>
                        <h4>Projet étudiant</h4>
                    </div>
                    <p>Refonte du design et l’intégration web du site de la minucipalité Baie Sainte-Catherine</p>
                    <a href="projectBSC.html" class="button button--anim">
                        Voir le projet
                        <svg class="icon">
                            <use xlink:href="#icon-arrow_right"></use>
                        </svg>
                    </a>
                </div>
                <div class="card__media">
                    <img src="assets/images/mockup_baie_sainte_catherine.png" alt="mockup_baie_sainte_catherine" />
                </div>
            </div>
            <div class="card right">
                <div class="card__content">
                    <h2>Site <span class="orange__text">Timconf</span></h2>
                    <div class="contexts">
                        <h4>Design et intégration web</h4>
                        <div class="vertical__line"></div>
                        <h4>Projet étudiant</h4>
                    </div>
                    <p>Design et développement d’un site web HTML/CSS/Responsive pour un client fictif</p>
                    <a href="#" class="button button--anim">
                        Voir le projet
                        <svg class="icon">
                            <use xlink:href="#icon-arrow_right"></use>
                        </svg>
                    </a>
                </div>
                <div class="card__media">
                    <img src="assets/images/mockup_timconf.png" alt="mockup_timconf" />
                </div>
            </div>
            <div class="card left">
                <div class="card__content">
                    <h2><span class="orange__text">Operation </span><span class="green__text">Dawnseeker</span></h2>
                    <div class="contexts">
                        <h4>Animation 2D</h4>
                        <div class="vertical__line"></div>
                        <h4>Projet étudiant</h4>
                    </div>
                    <p>
                        Animation 2D d’une typographie cinétique pour la musique "Operation Dawnseeker" dans le jeu
                        mobile "Arknights".
                    </p>
                    <a href="#" class="button button--anim">
                        Voir le projet
                        <svg class="icon">
                            <use xlink:href="#icon-arrow_right"></use>
                        </svg>
                    </a>
                </div>
                <div class="card__media">
                    <img src="assets/images/operation_dawnseeker.png" alt="thumbnail operation dawnseeker" />
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
