{% include '_partials/_header.html' %}
<section class="hero__project">
    <div class="wrapper">
        <div class="card left">
            <div class="card__content">
                <h1>Site <span class="orange__text">Timconf</span></h1>
                <div class="contexts">
                    <p>Design et intégration web</p>
                    <div class="vertical__line"></div>
                    <p>Projet étudiant</p>
                </div>
                <p>Design et développement d’un site web HTML/CSS/Responsive pour un client fictif.</p>
                <div class="more__infos">
                    <a href="https://jsouthiphonh.dectim.ca/timconf/" class="button button--anim" target="_blank">
                        Voir le site
                    </a>
                    <div class="softwares" data-scrolly="expand">
                        <div class="software">
                            <img src="assets/images/logo_vscode.png" alt="logo VSCode" />
                        </div>
                        <div class="software">
                            <img src="assets/images/logo_figma.png" alt="logo Figma" />
                        </div>
                        <div class="software">
                            <img src="assets/images/html5_logo.png" alt="logo HTML5" />
                        </div>
                        <div class="software">
                            <img src="assets/images/logo_css3.png" alt="logo CSS3" />
                        </div>
                        <div class="software">
                            <img src="assets/images/logo_javascript.png" alt="logo JavaScript" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__media">
                <img src="assets/images/mockup_timconf.webp" alt="mockup_timconf" />
            </div>
        </div>
    </div>
</section>
<div class="separator">
    <div class="wrapper"></div>
</div>
<section class="design__website">
    <div class="wrapper">
        <h1><span class="orange__text">Design</span> du <span class="green__text">site</span></h1>
        <div class="step__description">
            <h2 data-scrolly="fromLeft">
                <span class="orange__text">Design</span> et <span class="green__text">direction artistique</span>
            </h2>
            <p data-scrolly="fromRight">
                Je crée la palette de couleurs et les typographies. À l'aide des templates créés par les professeurs de
                web, Jean-François B. Leblanc et Matthieu Parent, je choisis les templates désirés pour mon site.
            </p>
        </div>
        <div class="screenshots__examples">
            <img src="assets/images/design_templates_timconf.webp" alt="templates timcobf" />
            <img src="assets/images/art_direction_timconf.webp" alt="direction artistique timconf" />
        </div>
    </div>
    <div class="wrapper">
        <div class="step__description">
            <h2 data-scrolly="fromLeft"><span class="orange__text">Design final</span></h2>
            <p data-scrolly="fromRight">
                Après le design système faits, je crée les maquettes pour la page d'accueil et la page d'un
                conférencier, incluant la version mobile de ces pages.
            </p>
        </div>
    </div>
    <div class="gallery__final__design">
        <div class="swiper" data-component="Carousel" data-loop="true">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/images/final_design_timconf1.webp" alt="Final design" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/final_design_timconf2.webp" alt="Final design" />
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<section class="integration__website">
    <div class="wrapper">
        <div class="step__description">
            <h1><span class="green__text">Intégration </span> du <span class="blue__text">site</span></h1>
            <p data-scrolly="fromRight">
                Finalement, je fais l’intégration web du site. Le site était simple à intégrer. La partie la plus
                difficile est de styliser la galerie d'images du conférencier.
            </p>
        </div>
        <div class="step__description">
            <h2 data-scrolly="fromLeft">
                Intégration <span class="blue__text">HTML</span> et&nbsp;<span class="orange__text">CSS</span>
            </h2>
            <p data-scrolly="fromRight">
                Pour commencer, je fais la structure html par section de la page. À chaque section, j’ajoute le code CSS
                pour bien structurer la section et donner son style.
            </p>
        </div>
        <div class="gallery" data-component="Modal">
            <div class="gallery__images">
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img
                                src="assets/images/gallery_conferencier_css.webp"
                                alt="css gallery conferencier"
                                class="js-modal"
                            />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Code CSS/SCSS pour la galerie d'images d'un&nbsp;conférencier</p>
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img
                                src="assets/images/gallery_conferenciers_html.webp"
                                alt="html gallery conferenciers"
                                class="js-modal"
                            />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Code HTML pour la galerie d'images des conférenciers</p>
                    </div>
                </div>
            </div>
            <div class="step__description">
                <h2 data-scrolly="fromLeft">Programmation <span class="green__text">JavaScript</span></h2>
                <p data-scrolly="fromRight">
                    Pour terminer, je fais du JavaScript pour les carrousels dans la page d'un conférencier et le menu
                    mobile fonctionnel.
                </p>
            </div>
            <div class="gallery__images">
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img src="assets/images/js_carousel_timconf.webp" alt="js carousel" class="js-modal" />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Script JavaScript pour les carousels</p>
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img
                                src="assets/images/js_mobile_menu_timconf.webp"
                                alt="js mobile menu"
                                class="js-modal"
                            />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Script JavaScript pour le menu mobile</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="project__credits">
    <div class="wrapper">
        <h1><span class="orange__text">Crédits</span></h1>
        <div class="credits">
            <div class="credit">
                <p>Composantes pour les maquettes : &nbsp;</p>
                <p>Jean-François B. Leblanc et Matthieu Parent.</p>
            </div>
        </div>
    </div>
</section>
<div class="modal">
    <svg class="icon icon--lg close-modal">
        <use xlink:href="#icon-close"></use>
    </svg>
</div>
{% include '_partials/_footer.html' %}
