{% include '_partials/_header.html' %}
<section class="hero__project">
    <div class="wrapper">
        <div class="card left">
            <div class="card__content">
                <h2>Mon site de <span class="orange__text">portfolio</span></h2>
                <div class="contexts">
                    <p>Design et intégration web</p>
                    <div class="vertical__line"></div>
                    <p>Projet étudiant</p>
                </div>
                <p>Design et développement d’un site web protfolio HTML/CSS/Responsive pour les futus stagières.</p>
                <div class="more__infos">
                    <a href="https://jackysouthiphonh.ca/" class="button button--anim"> Voir le site </a>
                    <div class="softwares" data-scrolly="expand">
                        <div class="software">
                            <img src="assets/images/logo_vscode.png" alt="logo VSCode" />
                        </div>
                        <div class="software">
                            <img src="assets/images/logo_figma.png" alt="logo Figma" />
                        </div>
                        <div class="software">
                            <img src="assets/images/html5_logo.png" alt="logo HTML5" />
                        </div>
                        <div class="software">
                            <img src="assets/images/logo_css3.png" alt="logo CSS3" />
                        </div>
                        <div class="software">
                            <img src="assets/images/logo_javascript.png" alt="logo JavaScript" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__media">
                <img src="assets/images/mockup_site_portfolio.png" alt="mockup site portfolio" />
            </div>
        </div>
    </div>
</section>
<div class="separator">
    <div class="wrapper"></div>
</div>
<section class="design__website">
    <div class="wrapper">
        <h1><span class="orange__text">Design</span> du <span class="green__text">site</span></h1>
        <div class="step__description">
            <h2 data-scrolly="fromLeft">
                <span class="orange__text">Moodbard</span> et <span class="green__text">direction artistique</span>
            </h2>
            <p data-scrolly="fromRight">
                Je voudrais que mon site soit épuré et professionnel, mais garde aussi un côté créatif. Le moodboard et
                les guides de style les démontrent bien.
            </p>
        </div>
        <div class="screenshots__examples">
            <img src="assets/images/moodboard_portfolio.png" alt="moodboard portfolio" />
            <img src="assets/images/guide_style.png" alt="guide de style" />
        </div>
    </div>

    <div class="wrapper">
        <div class="step__description">
            <h2 data-scrolly="fromLeft"><span class="orange__text">Design final</span></h2>
            <p data-scrolly="fromRight">
                Après le design système faits, je crée les maquettes des pages dans mon site de portfolio. Finalement je
                fais le prototype des maquettes.
            </p>
        </div>
    </div>
    <div class="gallery__final__design">
        <div class="swiper" data-component="Carousel" data-loop="true">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/images/final_design_portfolio1.png" alt="Final design portfolio" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/final_design_portfolio2.png" alt="Final design portfolio" />
                </div>

                <div class="swiper-slide">
                    <img src="assets/images/final_design_portfolio3.png" alt="Final design portfolio" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/final_design_portfolio4.png" alt="Final design portfolio" />
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<section class="integration__website">
    <div class="wrapper">
        <div class="step__description">
            <h1><span class="green__text">Intégration </span> du <span class="blue__text">site</span></h1>
            <p data-scrolly="fromRight">
                Finalement, je fais l’intégration web du site. Ce site est assez complexe à intégrer. Du JavaScript
                complexe pour rendre le site plus dynamique et intéractif et du css/scss plus complexe (styles et
                animations) sont inclus pour rendre le site très intéressant.
            </p>
        </div>
        <div class="step__description">
            <h2 data-scrolly="fromLeft">
                Intégration <span class="blue__text">HTML</span> et&nbsp;<span class="orange__text">CSS</span>
            </h2>
            <p data-scrolly="fromRight">
                Pour commencer, je fais la structure html par section de la page. À chaque section, j’ajoute le code CSS
                pour bien structurer la section et donner son style.
            </p>
        </div>
        <div class="gallery" data-component="Modal">
            <div class="gallery__images">
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img
                                src="assets/images/css_scrolling_text.png"
                                alt="animation scrolling text"
                                class="js-modal"
                            />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Code CSS/SCSS pour l'animation d'un text qui scroll automatiquement</p>
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img
                                src="assets/images/html_scrolling_text.png"
                                alt="html scrolling text"
                                class="js-modal"
                            />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Code HTML pour l'animation d'un text qui scroll automatiquement</p>
                    </div>
                </div>
            </div>
            <div class="step__description">
                <h2 data-scrolly="fromLeft">Programmation <span class="green__text">JavaScript</span></h2>
                <p data-scrolly="fromRight">
                    Pour terminer, je fais du JavaScript pour les sections interactives comme le carrousel, le header,
                    la vidéo dans le hero, etc.
                </p>
            </div>
            <div class="gallery__images">
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img src="assets/images/js_gsap.png" alt="js gsap" class="js-modal" />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Script JavaScript pour les animations de Gsap</p>
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img src="assets/images/js_modal.png" alt="js modal" class="js-modal" />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Script JavaScript pour le modal</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal">
    <svg class="icon icon--lg close-modal">
        <use xlink:href="#icon-close"></use>
    </svg>
</div>
{% include '_partials/_footer.html' %}
