{% include '_partials/_header.html' %}
<section class="projects">
    <div class="wrapper">
        <h1>Mes<span class="orange__text"> projets</span></h1>
        <div class="cards">
            <div class="card left" data-scrolly="fromLeft">
                <div class="card__content">
                    <h2 data-scrolly="fromLeft">
                        Site <span class="orange__text">Baie&nbsp;</span><span class="green__text">Sainte</span>-<span
                            class="blue__text"
                            >Catherine</span
                        >
                    </h2>
                    <div class="contexts" data-scrolly="fromLeft">
                        <p>Design et intégration web</p>
                        <div class="vertical__line"></div>
                        <p>Projet étudiant</p>
                    </div>
                    <p data-scrolly="fromLeft">
                        Refonte du design et l’intégration web du site de la municipalité Baie Sainte-Catherine
                    </p>
                    <a href="projectBSC.html" class="button button--anim">
                        Voir le projet
                        <svg class="icon">
                            <use xlink:href="#icon-arrow_right"></use>
                        </svg>
                    </a>
                </div>
                <div class="card__media">
                    <img src="assets/images/mockup_baie_sainte_catherine.webp" alt="mockup_baie_sainte_catherine" />
                </div>
            </div>
            <div class="card right" data-scrolly="fromRight">
                <div class="card__content">
                    <h2 data-scrolly="fromRight">Site <span class="orange__text">Timconf</span></h2>
                    <div class="contexts" data-scrolly="fromRight">
                        <p>Design et intégration web</p>
                        <div class="vertical__line"></div>
                        <p>Projet étudiant</p>
                    </div>
                    <p data-scrolly="fromRight">
                        Design et développement d’un site web HTML/CSS/Responsive pour un client fictif
                    </p>
                    <a href="projectTimConf.html" class="button button--anim">
                        Voir le projet
                        <svg class="icon">
                            <use xlink:href="#icon-arrow_right"></use>
                        </svg>
                    </a>
                </div>
                <div class="card__media">
                    <img src="assets/images/mockup_timconf.webp" alt="mockup_timconf" />
                </div>
            </div>
            <div class="card left" data-scrolly="fromLeft">
                <div class="card__content">
                    <h2 data-scrolly="fromLeft">Mon site de <span class="orange__text">portfolio</span></h2>
                    <div class="contexts" data-scrolly="fromLeft">
                        <p>Design et intégration web</p>
                        <div class="vertical__line"></div>
                        <p>Projet étudiant</p>
                    </div>
                    <p data-scrolly="fromLeft">
                        Design et développement de mon site portfolio en HTML/CSS/JS responsive pour les recruteurs de
                        stage et les futurs employeurs.
                    </p>
                    <a href="projectPortfolio.html" class="button button--anim">
                        Voir le projet
                        <svg class="icon">
                            <use xlink:href="#icon-arrow_right"></use>
                        </svg>
                    </a>
                </div>
                <div class="card__media">
                    <img src="assets/images/mockup_site_portfolio.webp" alt="mockup site portfolio" />
                </div>
            </div>
            <div class="card right" data-scrolly="fromRight">
                <div class="card__content">
                    <h2 data-scrolly="fromRight">
                        <span class="orange__text">Operation </span><span class="green__text">Dawnseeker</span>
                    </h2>
                    <div class="contexts" data-scrolly="fromRight">
                        <p>Animation 2D</p>
                        <div class="vertical__line"></div>
                        <p>Projet étudiant</p>
                    </div>
                    <p data-scrolly="fromRight">
                        Animation 2D d’une typographie cinétique pour la musique "Operation Dawnseeker" dans le jeu
                        mobile "Arknights".
                    </p>
                    <a href="projectOpDawnseeker.html" class="button button--anim">
                        Voir le projet
                        <svg class="icon">
                            <use xlink:href="#icon-arrow_right"></use>
                        </svg>
                    </a>
                </div>
                <div class="card__media">
                    <img src="assets/images/operation_dawnseeker.webp" alt="thumbnail operation dawnseeker" />
                </div>
            </div>
            <div class="card left" data-scrolly="fromLeft">
                <div class="card__content">
                    <h2 data-scrolly="fromLeft">
                        Le <span class="orange__text">chasseur</span> et le <span class="green__text">chassé</span>
                    </h2>
                    <div class="contexts" data-scrolly="fromLeft">
                        <p>Animation 3D</p>
                        <div class="vertical__line"></div>
                        <p>Projet étudiant</p>
                    </div>
                    <p data-scrolly="fromLeft">
                        Animation 3D, avec du montage sonore, d’une scénario basé sur le jeu "Half Life 2: Episode 2".
                    </p>
                    <a href="projectChasseurChasse.html" class="button button--anim">
                        Voir le projet
                        <svg class="icon">
                            <use xlink:href="#icon-arrow_right"></use>
                        </svg>
                    </a>
                </div>
                <div class="card__media">
                    <img src="assets/images/half_life_2_ep2.webp" alt="project 3d half life 2" />
                </div>
            </div>
        </div>
    </div>
</section>
{% include '_partials/_footer.html' %}
