{% include '_partials/_header.html' %}
<section class="hero__project">
    <div class="wrapper">
        <div class="card left">
            <div class="card__content">
                <h1><span class="orange__text">Operation </span><span class="green__text">Dawnseeker</span></h1>
                <div class="contexts">
                    <p>Animation 2D</p>
                    <div class="vertical__line"></div>
                    <p>Projet étudiant</p>
                </div>
                <p>
                    Animation 2D d’une typographie cinétique pour la musique "Operation Dawnseeker" dans le jeu mobile
                    "Arknights".
                </p>
                <div class="more__infos">
                    <a href="https://www.youtube.com/watch?v=vaDxjiOf_vI" class="button button--anim" target="_blank"
                        >Voir l'animation</a
                    >
                    <div class="softwares" data-scrolly="expand">
                        <div class="software">
                            <img src="assets/images/logo_after_effects.jpeg" alt="logo Adobe After Effects" />
                        </div>
                        <div class="software">
                            <img src="assets/images/logo_illustrator.webp" alt="logo Adobe Illustrator" />
                        </div>
                        <div class="software">
                            <img src="assets/images/logo_reaper.png" alt="logo Reaper" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__media">
                <img src="assets/images/operation_dawnseeker.webp" alt="mockup_baie_sainte_catherine" />
            </div>
        </div>
    </div>
</section>
<div class="separator">
    <div class="wrapper"></div>
</div>
<section class="design__website">
    <div class="wrapper">
        <h1><span class="orange__text">Recherche</span> et <span class="green__text">préparation</span></h1>
        <div class="step__description">
            <h2 data-scrolly="fromLeft">
                <span class="orange__text">Recherche</span> de la&nbsp;<span class="green__text">chanson</span>
            </h2>
            <p data-scrolly="fromRight">
                En premier, je cherche la chanson désirée pour mon animation et recueillir les paroles de la chanson.
            </p>
        </div>
        <div class="screenshots__examples">
            <img src="assets/images/op_dawnseeker_song.webp" alt="chanson Opretation Dawnseeker" />
            <img src="assets/images/op_dawnseeker_lyrics1.webp" alt="parole de la chanson" />
        </div>
        <div class="step__description">
            <h2 data-scrolly="fromLeft">
                <span class="blue__text">Création</span> des <span class="orange__text">éléments visuels</span>
            </h2>
            <p data-scrolly="fromRight">
                Je crée les éléments visuels qui ont une connection avec les paroles de la chanson.
            </p>
        </div>
    </div>
    <div class="gallery__wireframe">
        <div class="swiper" data-component="Carousel" data-loop="true" data-split>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/images/visual_element1.webp" alt="élément visuel logo Operation Dawnseeker" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/visual_element2.webp" alt="élément visuel oeil" />
                </div>

                <div class="swiper-slide">
                    <img src="assets/images/visual_element3.webp" alt="élément visuel feu" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/visual_element4.webp" alt="élément visuel épée" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/visual_element5.webp" alt="élément visuel chaînes" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/visual_element6.webp" alt="élément visuel tête" />
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<section class="creation">
    <div class="wrapper">
        <div class="step__description">
            <h1><span class="green__text">Création </span> de <span class="blue__text">l'animation</span></h1>
            <p data-scrolly="fromRight">
                Ensuite, j'importe tous les éléments nécessaires dans After Effects et commence l'animation.
            </p>
        </div>
    </div>
    <div class="gallery__final__design">
        <div class="swiper" data-component="Carousel" data-loop="true" data-split>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/images/making_2d_animation1.webp" alt="création de l'animation" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/making_2d_animation2.webp" alt="création de l'animation " />
                </div>

                <div class="swiper-slide">
                    <img src="assets/images/making_2d_animation3.webp" alt="création de l'animation " />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/making_2d_animation4.webp" alt="création de l'animation " />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/making_2d_animation5.webp" alt="création de l'animation " />
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<section class="integration__website">
    <div class="wrapper">
        <div class="step__description">
            <h1><span class="green__text">Rendu </span> et <span class="blue__text">mise en&nbsp;ligne</span></h1>
            <p data-scrolly="fromRight">
                Finalement, je fais un rendu final de l'animation et prépare l'animation pour le publier sur YouTube.
            </p>
        </div>

        <div class="gallery" data-component="Modal">
            <div class="gallery__images">
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img
                                src="assets/images/render_2d_animation.webp"
                                alt="rendu animation 2D"
                                class="js-modal"
                            />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Rendu de l'animation sur Media Encoder</p>
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img
                                src="assets/images/upload_2d_animation.webp"
                                alt="publie animation 2D"
                                class="js-modal"
                            />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Publier l'animation sur ma chaîne YouTube</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="project__credits">
    <div class="wrapper">
        <h1><span class="orange__text">Crédits</span></h1>
        <div class="credits">
            <div class="credit">
                <p>Logo Operation Dawnseeker : &nbsp;</p>
                <p>HyperGryph et Yostar.</p>
            </div>
            <div class="credit">
                <p>Chanson Operation Dawnseeker : &nbsp;</p>
                <p>塞壬唱片-MSR, Terry Zhong, HyperGryph et Yostar.</p>
            </div>
            <div class="credit">
                <p>Chaînes : &nbsp;</p>
                <p>upklyak sur Freepik.</p>
            </div>
            <div class="credit">
                <p>Tête : &nbsp;</p>
                <p>rawpixel.com sur Freepik.</p>
            </div>
            <div class="credit">
                <p>Flame : &nbsp;</p>
                <p>rwdd_studios sur Freepik.</p>
            </div>
            <div class="credit">
                <p>Épée : &nbsp;</p>
                <p>macrovector sur Freepik.</p>
            </div>
        </div>
    </div>
</section>
<div class="modal">
    <svg class="icon icon--lg close-modal">
        <use xlink:href="#icon-close"></use>
    </svg>
</div>
{% include '_partials/_footer.html' %}
