{% include '_partials/_header.html' %}
<section class="hero__project">
    <div class="wrapper">
        <div class="card left">
            <div class="card__content">
                <h2><span class="orange__text">Operation </span><span class="green__text">Dawnseeker</span></h2>
                <div class="contexts">
                    <p>Animation 2D</p>
                    <div class="vertical__line"></div>
                    <p>Projet étudiant</p>
                </div>
                <p>
                    Animation 2D d’une typographie cinétique pour la musique "Operation Dawnseeker" dans le jeu mobile
                    "Arknights".
                </p>
                <div class="more__infos">
                    <a href="https://www.youtube.com/watch?v=vaDxjiOf_vI" class="button button--anim"
                        >Voir l'animation</a
                    >
                    <div class="softwares" data-scrolly="expand">
                        <div class="software">
                            <img src="assets/images/logo_after_effects.jpeg" alt="logo Adobe After Effects" />
                        </div>
                        <div class="software">
                            <img src="assets/images/logo_illustrator.webp" alt="logo Adobe Illustrator" />
                        </div>
                        <div class="software">
                            <img src="assets/images/logo_reaper.png" alt="logo Reaper" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__media">
                <img src="assets/images/operation_dawnseeker.png" alt="mockup_baie_sainte_catherine" />
            </div>
        </div>
    </div>
</section>
<div class="separator">
    <div class="wrapper"></div>
</div>
<section class="design__website">
    <div class="wrapper">
        <h1><span class="orange__text">Recherche</span> et <span class="green__text">préparation</span></h1>
        <div class="step__description">
            <h2 data-scrolly="fromLeft">
                <span class="orange__text">Recherche</span> de la&nbsp;<span class="green__text">chanson</span>
            </h2>
            <p data-scrolly="fromRight">
                En premier, je cherche la chanson désirée pour mon animation et collecte les paroles de la chanson.
            </p>
        </div>
        <div class="screenshots__examples">
            <img src="assets/images/op_dawnseeker_song.png" alt="chanson Opretation Dawnseeker" />
            <img src="assets/images/moodboard2.png" alt="moodboard 2" />
        </div>
        <div class="step__description">
            <h2 data-scrolly="fromLeft"><span class="blue__text">Création</span> des éléments visuels</h2>
            <p data-scrolly="fromRight">
                Je crée les éléments visuels qui ont une connection avec les paroles de la chanson
            </p>
        </div>
    </div>
    <div class="gallery__wireframe">
        <div class="swiper" data-component="Carousel" data-loop="true" data-split>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/images/wireframe1.png" alt="Wireframe" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/wireframe2.png" alt="Wireframe" />
                </div>

                <div class="swiper-slide">
                    <img src="assets/images/wireframe3.png" alt="Wireframe" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/wireframe4.png" alt="Wireframe" />
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="wrapper">
        <div class="step__description">
            <h2 data-scrolly="fromLeft"><span class="orange__text">Design final</span></h2>
            <p data-scrolly="fromRight">
                Après le wireframe et le design système faits, j’ajoute les styles et les vraies contenus dans la
                maquette. Finalement je fais la prototype de la maquette.
            </p>
        </div>
    </div>
    <div class="gallery__final__design">
        <div class="swiper" data-component="Carousel" data-loop="true" data-split>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/images/final_design1.png" alt="Final design" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/final_design2.png" alt="Final design" />
                </div>

                <div class="swiper-slide">
                    <img src="assets/images/final_design3.png" alt="Final design" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/final_design4.png" alt="Final design" />
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<section class="integration__website">
    <div class="wrapper">
        <div class="step__description">
            <h1><span class="green__text">Intégration </span> du <span class="blue__text">site</span></h1>
            <p data-scrolly="fromRight">
                Finalement, je fais l’intégration web du site. En ce présent, ce site est le plus complexe que j’ai
                fait. Du JavaScript complexe pour rendre le site plus dynamique, du css/scss plus complexe et l’ajout du
                responsive contribuent à la difficulté de l’intégration du site.
            </p>
        </div>
        <div class="step__description">
            <h2 data-scrolly="fromLeft">
                Intégration <span class="blue__text">HTML</span> et&nbsp;<span class="orange__text">CSS</span>
            </h2>
            <p data-scrolly="fromRight">
                Pour commencer, je fais la structure d’html par section de la page. À chaque section, j’ajoute le code
                CSS pour bien structurer la section et donner son style.
            </p>
        </div>
        <div class="gallery" data-component="Modal">
            <div class="gallery__images">
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img src="assets/images/css_bsc.png" alt="css form" class="js-modal" />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Code CSS/SCSS pour le formulaire</p>
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img src="assets/images/html_bsc.png" alt="html form" class="js-modal" />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Code HTML pour le formulaire</p>
                    </div>
                </div>
            </div>
            <div class="step__description">
                <h2 data-scrolly="fromLeft">Programmation <span class="green__text">JavaScript</span></h2>
                <p data-scrolly="fromRight">
                    Pour terminer, je fais du JavaScript pour les sections intéractives comme le carrousel, le header,
                    le vidéo dans le hero, etc.
                </p>
            </div>
            <div class="gallery__images">
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img src="assets/images/js_video.png" alt="js video" class="js-modal" />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Script JavaScript pour les vidéos</p>
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img src="assets/images/js_header.png" alt="js header" class="js-modal" />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Script JavaScript pour le header</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal">
    <svg class="icon icon--lg close-modal">
        <use xlink:href="#icon-close"></use>
    </svg>
</div>
{% include '_partials/_footer.html' %}
