{% include '_partials/_header.html' %}
<section class="hero__project">
    <div class="wrapper">
        <div class="card left">
            <div class="card__content">
                <h2>Le <span class="orange__text">chasseur</span> et le <span class="green__text">chassé</span></h2>
                <div class="contexts">
                    <p>Animation 3D</p>
                    <div class="vertical__line"></div>
                    <p>Projet étudiant</p>
                </div>
                <p>Animation 3D, avec du montage sonore, d’un scénario basé sur le jeu "Half Life 2: Episode 2".</p>
                <div class="more__infos">
                    <a href="https://www.youtube.com/watch?v=u6jVsfo0nog" class="button button--anim" target="_blank"
                        >Voir l'animation</a
                    >
                    <div class="softwares" data-scrolly="expand">
                        <div class="software">
                            <img src="assets/images/logo_after_effects.jpeg" alt="logo Adobe After Effects" />
                        </div>
                        <div class="software">
                            <img src="assets/images/logo_blender.png" alt="logo Blender" />
                        </div>
                        <div class="software">
                            <img src="assets/images/logo_reaper.png" alt="logo Reaper" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__media">
                <img src="assets/images/half_life_2_ep2.webp" alt="animation 3D Half Life 2" />
            </div>
        </div>
    </div>
</section>
<div class="separator">
    <div class="wrapper"></div>
</div>
<section class="design__website">
    <div class="wrapper">
        <h1><span class="orange__text">Conception</span> et <span class="green__text">pitch</span></h1>
        <div class="step__description">
            <h2 data-scrolly="fromLeft">
                <span class="orange__text">Storyboard</span> et&nbsp;<span class="green__text">synopsis</span>
            </h2>
            <p data-scrolly="fromRight">
                En premier, je crée un synopsis et un storyboard de mon animation que je voudrais faire.
            </p>
        </div>
        <div class="screenshots__examples">
            <img src="assets/images/synopsis_anim3d.webp" alt="synopsis animation 3D" />
            <img src="assets/images/storyboard_anim3d.webp" alt="storyboard animation 3D" />
        </div>
        <div class="step__description">
            <h2 data-scrolly="fromLeft">
                <span class="blue__text">Modélisation</span> et <span class="orange__text"> importation </span>des
                <span class="green__text"> modèles 3D</span>
            </h2>
            <p data-scrolly="fromRight">
                Je crée les modèles 3D simples commes les roches, et importe les modèles 3D plus complexes comme le
                soldat, et l'environnement.
            </p>
        </div>
    </div>
    <div class="gallery__wireframe">
        <div class="swiper" data-component="Carousel" data-loop="true" data-split>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/images/model_environment.webp" alt="modèle environnement" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/model_rock.webp" alt="modèle roche" />
                </div>

                <div class="swiper-slide">
                    <img src="assets/images/models_rocks.webp" alt="modèles roches" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/model_tree_trunk.webp" alt="modèle tronc d'arbre" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/imported_models.webp" alt="modèles importés" />
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<section class="creation">
    <div class="wrapper">
        <div class="step__description">
            <h1><span class="green__text">Création </span> de <span class="blue__text">l'animation</span></h1>
            <p data-scrolly="fromRight">
                Ensuite, je fais les animations comme les mouvements et les positions du soldat et du hunter, les
                positions des caméras, le lancement de la grenade, etc.
            </p>
        </div>
    </div>
    <div class="gallery__final__design">
        <div class="swiper" data-component="Carousel" data-loop="true" data-split>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/images/animation_soldier.webp" alt="création de l'animation" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/animation_mouvement_soldier.webp" alt="création de l'animation " />
                </div>

                <div class="swiper-slide">
                    <img src="assets/images/animation_hunter.webp" alt="création de l'animation " />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/animation_grenade.webp" alt="création de l'animation " />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/animation_camera.webp" alt="création de l'animation " />
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<section class="integration__website">
    <div class="wrapper">
        <div class="step__description">
            <h1><span class="green__text">Rendu </span> et <span class="blue__text">montage sonore&nbsp;</span></h1>
            <p data-scrolly="fromRight">
                Après, je fais un rendu de l'animation sur Blender et l'import sur Reaper pour faire le montage sonore.
            </p>
        </div>

        <div class="gallery" data-component="Modal">
            <div class="gallery__images">
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img src="assets/images/render_blender.webp" alt="rendu blender" class="js-modal" />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Rendu de l'animation sur Blender</p>
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img
                                src="assets/images/sound_design.webp"
                                alt="montage sonore animation 3D"
                                class="js-modal"
                            />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Montage sonore de l'animation sur Reaper</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="step__description">
            <h2><span class="green__text">Rendu final</span> et <span class="blue__text">mise en&nbsp;ligne</span></h2>
            <p data-scrolly="fromRight">
                Finalement, je fais un rendu de l'animation sur After Effects et la publie sur YouTube.
            </p>
        </div>

        <div class="gallery" data-component="Modal">
            <div class="gallery__images">
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img
                                src="assets/images/montage_after_effects.webp"
                                alt="montage After Effects"
                                class="js-modal"
                            />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Montage final sur After Effects</p>
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img
                                src="assets/images/render_animation_3d.webp"
                                alt="rendu animation 3D"
                                class="js-modal"
                            />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Rendu de l'animation sur Media Encoder</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="project__credits">
    <div class="wrapper">
        <h1><span class="orange__text">Crédits</span></h1>
        <div class="credits">
            <div class="credit">
                <p>Half-Life 2 AR2 (OSIPR): &nbsp;</p>
                <p>Aperture Aerospace sur Sketchfab.</p>
            </div>
            <div class="credit">
                <p>Realistic H.E.C.U Marine : &nbsp;</p>
                <p>Homless_Models sur Sketchfab.</p>
            </div>
            <div class="credit">
                <p>Sci-Fi grenade : &nbsp;</p>
                <p>HASSAN sur Sketchfab.</p>
            </div>
            <div class="credit">
                <p>Broadcast tower (Game ready) : &nbsp;</p>
                <p>PT34 sur Sketchfab.</p>
            </div>
            <div class="credit">
                <p>Combine Hunter : &nbsp;</p>
                <p>Viewman sur Sketchfab</p>
            </div>
            <div class="credit">
                <p>Pine tree : &nbsp;</p>
                <p>Andriy Shekh sur Sketchfab.</p>
            </div>
            <div class="credit">
                <p>Animations du soldat : &nbsp;</p>
                <p>Mixamo.</p>
            </div>
            <div class="credit">
                <p>Sons : &nbsp;</p>
                <p>Half Life 2, Valve.</p>
            </div>
        </div>
    </div>
</section>
<div class="modal">
    <svg class="icon icon--lg close-modal">
        <use xlink:href="#icon-close"></use>
    </svg>
</div>
{% include '_partials/_footer.html' %}
