{% include '_partials/_header.html' %}
<section class="hero__project">
    <div class="wrapper">
        <div class="card left">
            <div class="card__content">
                <h1>
                    Site <span class="orange__text">Baie&nbsp;</span><span class="green__text">Sainte</span>-<span
                        class="blue__text"
                        >Catherine</span
                    >
                </h1>
                <div class="contexts">
                    <p>Design et intégration web</p>
                    <div class="vertical__line"></div>
                    <p>Projet étudiant</p>
                </div>
                <p>
                    Une refonte d’un site pour la municipalité Baie Sainte-Catherine avec
                    <span class="orange__text">Figma</span> et l’intégration web dans
                    <span class="green__text">VSCode</span>.
                </p>
                <div class="more__infos">
                    <a
                        href="https://jsouthiphonh.dectim.ca/baie-sainte-catherine-refonte/"
                        class="button button--anim"
                        target="_blank"
                    >
                        Voir le site
                    </a>
                    <div class="softwares" data-scrolly="expand">
                        <div class="software">
                            <img src="assets/images/logo_vscode.png" alt="logo VSCode" />
                        </div>
                        <div class="software">
                            <img src="assets/images/logo_figma.png" alt="logo Figma" />
                        </div>
                        <div class="software">
                            <img src="assets/images/html5_logo.png" alt="logo HTML5" />
                        </div>
                        <div class="software">
                            <img src="assets/images/logo_css3.png" alt="logo CSS3" />
                        </div>
                        <div class="software">
                            <img src="assets/images/logo_javascript.png" alt="logo JavaScript" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__media">
                <img src="assets/images/mockup_baie_sainte_catherine.webp" alt="mockup_baie_sainte_catherine" />
            </div>
        </div>
    </div>
</section>
<div class="separator">
    <div class="wrapper"></div>
</div>
<section class="design__website">
    <div class="wrapper">
        <h1><span class="orange__text">Design</span> du <span class="green__text">site</span></h1>
        <div class="step__description">
            <h2 data-scrolly="fromLeft">
                <span class="orange__text">Moodbard</span> et <span class="green__text">direction artistique</span>
            </h2>
            <p data-scrolly="fromRight">
                Puisque la municipalité se situe au bord du fleuve Saint-Laurent, le moodboard et la direction
                artistique devrait démontrer le vibe d’une ville côtière.
            </p>
        </div>
        <div class="screenshots__examples">
            <img src="assets/images/moodboard1.webp" alt="moodboard 1" />
            <img src="assets/images/moodboard2.webp" alt="moodboard 2" />
        </div>
        <div class="step__description">
            <h2 data-scrolly="fromLeft"><span class="blue__text">Wireframe</span></h2>
            <p data-scrolly="fromRight">Le wireframe aide à visualiser les placements des contenus du site.</p>
        </div>
    </div>
    <div class="gallery__wireframe">
        <div class="swiper" data-component="Carousel" data-loop="true" data-split>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/images/wireframe1.webp" alt="Wireframe" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/wireframe2.webp" alt="Wireframe" />
                </div>

                <div class="swiper-slide">
                    <img src="assets/images/wireframe3.webp" alt="Wireframe" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/wireframe4.webp" alt="Wireframe" />
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="wrapper">
        <div class="step__description">
            <h2 data-scrolly="fromLeft"><span class="orange__text">Design final</span></h2>
            <p data-scrolly="fromRight">
                Après le wireframe et le design système faits, j’ajoute les styles et les vraies contenus dans la
                maquette. Finalement je fais le prototype de la maquette.
            </p>
        </div>
    </div>
    <div class="gallery__final__design">
        <div class="swiper" data-component="Carousel" data-loop="true" data-split>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/images/final_design1.webp" alt="Final design" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/final_design2.webp" alt="Final design" />
                </div>

                <div class="swiper-slide">
                    <img src="assets/images/final_design3.webp" alt="Final design" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/final_design4.webp" alt="Final design" />
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<section class="integration__website">
    <div class="wrapper">
        <div class="step__description">
            <h1><span class="green__text">Intégration </span> du <span class="blue__text">site</span></h1>
            <p data-scrolly="fromRight">
                Finalement, je fais l’intégration web du site. En ce présent, ce site est le plus complexe que j’ai
                fait. Du JavaScript complexe pour rendre le site plus dynamique, du css/scss plus complexe et l’ajout du
                responsive contribuent à la difficulté de l’intégration du site.
            </p>
        </div>
        <div class="step__description">
            <h2 data-scrolly="fromLeft">
                Intégration <span class="blue__text">HTML</span> et&nbsp;<span class="orange__text">CSS</span>
            </h2>
            <p data-scrolly="fromRight">
                Pour commencer, je fais la structure html par section de la page. À chaque section, j’ajoute le code CSS
                pour bien structurer la section et donner son style.
            </p>
        </div>
        <div class="gallery" data-component="Modal">
            <div class="gallery__images">
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img src="assets/images/css_bsc.webp" alt="css form" class="js-modal" />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Code CSS/SCSS pour le formulaire</p>
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img src="assets/images/html_bsc.webp" alt="html form" class="js-modal" />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Code HTML pour le formulaire</p>
                    </div>
                </div>
            </div>
            <div class="step__description">
                <h2 data-scrolly="fromLeft">Programmation <span class="green__text">JavaScript</span></h2>
                <p data-scrolly="fromRight">
                    Pour terminer, je fais du JavaScript pour les sections interactives comme le carrousel, le header,
                    la vidéo dans le héros, etc.
                </p>
            </div>
            <div class="gallery__images">
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img src="assets/images/js_video.webp" alt="js video" class="js-modal" />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Script JavaScript pour les vidéos</p>
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="gallery__media">
                        <div class="inner">
                            <img src="assets/images/js_header.webp" alt="js header" class="js-modal" />
                        </div>
                    </div>
                    <div class="gallery__content">
                        <p>Script JavaScript pour le header</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal">
    <svg class="icon icon--lg close-modal">
        <use xlink:href="#icon-close"></use>
    </svg>
</div>
{% include '_partials/_footer.html' %}
