{% include '_partials/_header.html' %}
<section class="hero">
    <div class="wrapper">
        <div class="card left">
            <div class="card__content">
                <h2>
                    Site <span class="orange__text">Baie</span><span class="green__text">Sainte</span>-<span
                        class="blue__text"
                        >Catherine</span
                    >
                </h2>
                <div class="contexts">
                    <h4>Design et intégration web</h4>
                    <div class="vertical__line"></div>
                    <h4>Projet étudiant</h4>
                </div>
                <p>
                    Une refonte d’un site pour la municipalité Baie Sainte-Catherine avec
                    <span class="orange__text">Figma</span> et l’intégration web dans
                    <span class="green__text">VSCode</span>.
                </p>
                <a href="https://jsouthiphonh.dectim.ca/baie-sainte-catherine-refonte/" class="button">
                    Voir le site
                </a>
            </div>
            <div class="card__media">
                <img src="assets/images/mockup_baie_sainte_catherine.png" alt="mockup_baie_sainte_catherine" />
            </div>
        </div>
    </div>
</section>
<section class="design__website">
    <div class="wrapper">
        <h1><span class="orange__text">Design</span> du <span class="green__text">site</span></h1>
        <div class="step__description">
            <h2><span class="orange__text">Moodbard</span> et <span class="green__text">direction artistique</span></h2>
            <p>
                Puisque la municipalité se situe au bord du fleuve Saint-Laurent, le moodboard et la direction
                artistique devrait démontrer le vibe d’une ville côtière.
            </p>
        </div>
        <div class="screenshots__examples">
            <img src="assets/images/moodboard1.png" alt="moodboard 1" />
            <img src="assets/images/moodboard2.png" alt="moodboard 2" />
        </div>
    </div>
</section>
{% include '_partials/_footer.html' %}
